@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connect {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.logo {
  font-family: 'Finger Paint';
  color: firebrick;
}

.wallet {
  margin-left: auto;
}